body{
    background-color: white;
}
html{
    scroll-behavior: smooth;
}
.left{
    margin-left: 150px;
}
.right{
    margin-left: 400px;
}
.list li{
    list-style-type: none;
    display: inline;
    font-size: 60px;
    margin-top: -22px;
}
.s1{
    margin-left: 150px;
    color: red;
    font-size: 50px;
}
.s2{
    color: blue;
    font-size: 50px;  
}
.s3{
    color: yellow;
    font-size: 50px;
}
.s4{
    color: greenyellow;
    font-size: 50px;
}
.li1{
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.li2{
    color: black;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.b1:hover{
    color: white;
    border-color: rgb(25, 25, 25);
    background-color: black;
}
.b2:hover{
    color: red;
    border-color: rgb(25, 25, 25);
    background-color: black;
}
.b3:hover{
    color: rgb(255, 186, 58);
    border: black;
    background-color: #553B06;

}
.names li{
    font-size: xx-large;
    list-style-type: none;
    display: inline-block;
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {
    .navbar {
        display: inline;
        font-size: smaller;
    }
    .s1{
        font-size: smaller;
    }
}
  